<!-- html specific to home page -->
<section>
  <div class="category">
    <h2 id="prev_category">Furniture</h2>
    <h2 id="curr_category">Books & Magazines</h2>
    <h2 id="next_category">Plants</h2>

    <div class="card">
      <img src="">
      <h3 class="item_name">Calathea thing</h3>
    </div>

    <div class="card">
      <img src="">
      <h3 class="item_name">Calathea thing</h3>
    </div>

    <div class="card">
      <img src="">
      <h3 class="item_name">Calathea thing</h3>
    </div>


  </div>

</section>
