<!-- html specific to home page -->
<section>
</br>
  <h2>category of item<h2>
  <h2> arrow to prev category<h2>
  <h2>arrow to next category<h2>
</br>
  <h2>lists of items in category<h2>
  <h2>photos of each item<h2>
  <h2>name of each item<h2>
  <h2>description of each item<h2>
  <h2>option to claim item<h2>
  <h2>indicator that itm is taken<h2>
  <h2>first name of user who claimed it<h2>
</section>
