<!-- html specific to home page -->
<section>
  {{#each allItems}}
  <div class="category">
    {{#if allCategories}}
    <h2 id="prev_category">{{ this.type }}</h2>\

      <div class="card">
        <img src="">
        <h3 class="item_name">{{ allItems.name }}</h3>
      </div>
    {{/}}

  </div>
  {{/each}}
</section>
