<!-- html specific to home page -->
<section>
  <div class="category">
    <h2 id="prev_category">Furniture</h2>
    <h2 id="curr_category">Books & Magazines</h2>
    <h2 id="next_category">Plants</h2>

    {{#each items}}
      <div class="card">
        <img src="">
        <h3 class="item_name">{{ this.name }}</h3>
      </div>
    {{/each}}

  </div>

</section>
