<header>
  <div class="line">
    <div class="rectangle medium62"></div>
    <div class="circle"></div>
    <div class="rectangle large103"></div>
    <div class="rectangle mini"></div>
    <div class="rectangle mini"></div>
    <div class="rectangle mini"></div>
    <div class="rectangle small32"></div>
    <div class="rectangle mini"></div>
    <div class="rectangle mini"></div>
    <div class="rectangle mini"></div>
    <div class="rectangle mini"></div>
    <div class="rectangle mini"></div>
    <div class="rectangle mini"></div>
    <div class="rectangle mini"></div>
  </div>

  <div class="line">
    <div class="rectangle medium44"></div>
    <h1>Remaining</h1>
    <div class="rectangle large124"></div>
  </div>

  <div class="line">
    <div class="rectangle mini"></div>
    <div class="rectangle mini"></div>
    <div class="rectangle small20"></div>
    <div class="rectangle mini"></div>
    <div class="rectangle mini"></div>
    <div class="rectangle mini"></div>
    <div class="rectangle mini"></div>
    <div class="rectangle mini"></div>
    <h1>Objects</h1>
    <div class="rectangle mini"></div>
    <div class="rectangle mini"></div>
    <div class="rectangle mini"></div>
    <div class="rectangle mini"></div>
    <div class="rectangle mini"></div>
    <div class="rectangle mini"></div>
    <div class="rectangle mini"></div>
    <div class="rectangle mini"></div>
    <div class="rectangle mini"></div>
    <div class="rectangle mini"></div>
  </div>

  <div class="line">
    <div class="rectangle large210"></div>
    <div class="circle"></div>
    <div class="rectangle large113"></div>
  </div>

</header>
