<!-- overall html with variables to inject the specifics of each page -->
<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
  {{>header}}
        {{{ body }}}
  <script src="./script/dom.js"></script>
</body>

</html>
